<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basic CRUD App</title>
  </head>
  <body>
    <h1>May the Node be with you!✌️</h1>

    <form action="/quotes" method="POST">
      <input type="text" placeholder="name" name="name" />
      <input type="text" placeholder="quote" name="quote"/>
        
      <button type="submit">SUBMIT</button>
    </form>
<ul class="quotes">
    <!-- using the 'quotes' object sent back -->
<% for(var i=0; i<quotes.length;i++) {%>
    <li class="quote">
        <span><%= quotes[i].name %></span>:
        <span><%= quotes[i].quote %></span>
    </li>
    <% } %>

</ul>
    
<div>
<h2>Thanos Invades!</h2>
<p>Replace Tony's quote with Thanos' quote :)</p>
<button id="update-button">Replace Tony's quote</button>
</div>
<div>
<h2>Snap Thanos!</h2>
<p>Delete the quote by Thanos!</p>
<button id="delete-button">Delete Thanos' quote</button>
</div>

<div id="message"></div>
<script src="/main.js"></script>
  </body>
</html>
